#--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.11.txt"
--constraint constraints_2_7_2.txt

apache-airflow-providers-databricks>=5.0.1
apache-airflow-providers-amazon>=8.7.1
mlflow-skinny==2.10.2
numpy>=1.24.4
virtualenv>=20.24.5
boto3>=1.28.17
